:root {
  --main-bg-color: brown;
  --navbar-bg: rgba(123,123,123,.4)
}

.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: 2fr 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "active_window etc1"
        "active_window etc2"
        "active_window ."
        ;

    //display: flex;
    //justify-content: center;
    //align-items: center;
}


.active_window{
    grid-area: active_window;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: var(--navbar-bg);
}


.etc1{
    grid-area: etc1;
    height: 100%;
    width: 100%;
    border: 1px solid blue;
}

.etc2{
    grid-area: etc2;
    height: 100%;
    width: 100%;
    border: 1px solid green;
}