
:root {
  --main-bg-color: brown;
  --navbar-bg: rgba(0, 0, 0,.7);
  //--chunk-bg: rgba(238, 240, 161, .8);
  --chunk-bg: rgba(251, 252, 149, .6);
  --title-bg: rgba(0,0,0,.5);
}


.content-container{
    position: relative;
    width: 100%;
    height: 100%;

    //padding: 5px;
    //margin: auto;

    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 2fr 2fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
        "active_window etc1"
        "active_window etc2"
        "active_window .";
}


.active_window{
    position: relative;
    grid-area: active_window;
    height: 100%;
    width: 100%;

    overflow: hidden;

    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;

    backdrop-filter: blur(2px);

    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--navbar-bg);
    -webkit-box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
}


.etc1{
    position: relative;
    grid-area: etc1;
    height: 100%;
    width: 100%;

    overflow: hidden;

    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--navbar-bg);
    -webkit-box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
}


.etc2{
    position: relative;
    grid-area: etc2;
    height: 100%;
    width: 100%;

    overflow: hidden;

    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--navbar-bg);
    -webkit-box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
}


.title{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    -webkit-box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--title-bg);
}


.addbtn{
    position: absolute;
    right: 5px;
    height: 30px;
    width: 30px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    float: right;
}


.title p{
    margin: 0;
    padding: 0;
    color: white;
}


.input-field label {
    color: #fff;
}

input, select, textarea{
    color: #fff;
}

   /* label focus color */
.input-field input[type=text]:focus + label {
    color: #fff;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}


.window-content{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
}


.window-fader{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
    z-index: 100;
}


.fragment-chunk{
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--chunk-bg);
    width: 95%;
    margin-bottom: 5px;
    padding-right: 5px;
    text-align: center;
}


.fragment-chunk p{
    position: relative;
    margin: 2px;
}


.chunkbutton-holder-right{
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    float: right;
}


.grabber-holder-left{
    position: absolute;
    top 0%;
    left: 0;
    height: 100%;
    width: 10%;
    margin: 0;
    padding: 0px;
    background-image: url('/static/img/grabber.png');
    background-repeat: no-repeat;
    background-size: contain;
}


.event-plusinfo-holder{
    position: absolute;
    z-index: 2;
    top 0;
    left: 0;
    height: 100%;
    width: 10%;
    margin: 0;
    margin-left: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.event-plusinfo-holder i{
    margin-left: 2px;
    transition: .3s;
}


.event-plusinfo-holder i:hover{
    font-size: 1.8rem;
}


.chunkbutton{
    border-radius: 50%;
    padding: 2px;
    margin-left: 3px;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}


.chunkbutton:hover{
    width: 22px;
    height: 22px;
}


.interact-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}


.interact-modal input{
    width: 40%;
}


.window-class{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.manipulate-workout-container{
    display: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    //grid-template-rows: 9fr 1fr;
    gap: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-areas:
        "stringdata dnd_data";
        //"buttonarea buttonarea"
}


.man-wo-stringdata{
    color: black;
    grid-area: stringdata;
    position: relative;
    z-index: 2;
    height: 95%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    border: 1px solid white;
    margin: auto;
    //border: 2px solid black;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    display: flex;
    //justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.man-wo-dnddata{
    grid-area: dnd_data;
    position: relative;
    z-index: 2;
    height: 95%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    border: 1px solid white;
    margin: auto;
    border-radius: 5px;
    display: flex;
    //justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding-top: 10px;
}


.man-wo-dnddatata:only-child{
    color: white;
}


.man-wo-buttonarea{
    position: relative;
    margin-top: 20px;
    z-index: 2;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.wo-manipulate-sizer{
    width: 40%;
    margin: 2px;
    margin-top: 10px;
    self-align: center;
}


.wo-manipulate-sizer-textarea{
    width: 80%;
    margin: 2px;
    margin-top: 10px;
    self-align: center;
}


.manipulate-event-container{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    //grid-template-rows: 9fr 1fr;
    gap: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-areas:
        "stringdata dnd_data";
        //"buttonarea buttonarea"
}


.manipulate-exercises-container{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    gap: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;
}


.man-ex-stringdata{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    margin: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 20px;
}


.comment-for-ident{
    color: white;
}


.event-holder{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.man-competitors-maincontainer{
    position: absolute;
    top:0;
    left:0;
    grid-area: active_window;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 20px;

    overflow: hidden;

    backdrop-filter: blur(2px);

    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--navbar-bg);
    -webkit-box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.73);

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 16fr 1fr;
    gap: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-areas:
        "title title"
        "comp-new comp-name"
        "buttonarea buttonarea";
}


.comp-new{
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: comp-new;
    overflow: auto;

    -webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    border: 1px solid white;
    border-radius: 5px;

    text-align: center;

}


.comp-input{
    width: 80%;
    margin: auto;
    padding: 10px;
}


.comp-title{
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: title;

    //-webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    //box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    //border: 1px solid white;
    //border-radius: 5px;
}


.comp-buttonarea{
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: buttonarea;

    display: flex;
    justify-content: space-around;
    align-items: center;

}


.comp-namesarea{
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: comp-name;
    overflow: auto;

    -webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,.4);
    border: 1px solid white;
    border-radius: 5px;
}


.namestitle{
    //position: sticky;
    //top: 0;
}


.genderimage{
    height: 50px;
    position: relative;
    display: inline-block;
}


.switch.gender label input[type=checkbox]:checked+.lever {
   background-color: #cc83b2;
}
.switch.gender label input[type=checkbox]:checked+.lever:after {
   background-color: #d151a4;
}

.switch.gender label input[type=checkbox]+.lever {
   background-color: #8eb7cd;
}
.switch.gender label input[type=checkbox]+.lever:after {
   background-color: #5ea7ce;
}


.repr-comps{
    position: relative;
    width: 100%;
    //height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.padded-by-left{
    width: 90%;
}


.sortable-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
}

