.select-title{
    position: sticky;
    top: 0;
}



.hidden{
    display: hidden;
}


#select-workout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.select-container{

    position: relative;
    width: 80%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}


.select-container p{
    font-size: 1.5em;
    margin: 5px;
}


.event-frag{
    position: relative;

    margin: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.74);
}


.buttonholder{
    position: absolute;
    padding-right: 10px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.chunkbutton{
    border-radius: 50%;
    padding: 2px;
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    float: right;
}


.chunkbutton:hover{
    width: 35px;
    height: 35px;
    font-size: 1.8em;
}


.appcontainer{
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding-left: 2%;

    width: 100%;
    height: 100%;

    /*border: 5px solid rgb(206, 156, 20);*/

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 4fr;

    justify-content: space-evenly;
    grid-template-areas:
        "weight-select  exercise-info exercise-info exercise-info name-info name-info"
        "timer timer timer timer timer timer-icon"
        "reps-section reps-section score-section score-section score-section .";
}


.weight-select{
    position: relative;
    grid-area: weight-select;
    border: 1px solid red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.exercise-info{
    position: relative;
    grid-area: exercise-info;
    border: 1px solid red;
    color: white;
}


.name-info{
    position: relative;
    grid-area: name-info;
    border: 1px solid red;
    color: white;
}


.timer{
    position: relative;
    grid-area: timer;
    //border: 1px solid red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer h1{
    font-weight: bold;
    font-size: 200px;
    color: yellow;
}


.timer-icon{
    position: relative;
    grid-area: timer-icon;
    border: 1px solid red;
    color: white;
}


.timer-title{
    position: absolute;
    left: 0;
    top: 0;
    //border: 1px solid red;
    color: white;
}


.reps-section{
    position: relative;
    grid-area: reps-section;
    //border: 1px solid red;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.reps-section h1{
    font-weight: bold;
    font-size: 200px;
    color: yellow;
}


.reps-title{
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    margin: 0;
    font-weight: bold;
}


.score-section{
    position: relative;
    grid-area: score-section;
    //border: 1px solid red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.score-section h1{
    font-weight: bold;
    font-size: 200px;
    color: yellow;
}


.sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: -18%;
    z-index: 2;
    backdrop-filter: blur(2px);
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(255, 255, 255, .4));
    transition: .4s;
}

.sidebar:hover{
    left:0;
}