<div id="addexercise_modalback" class="modalback" style="display: none;">

    <div id="joinmodal" class="loginmodal">

        <div id="close_joinmodal" class="closeicon" onclick="closemodal($('#addexercise_modalback'))"></div>

        <p id="ex_idholder" style="display: none"></p>

        <p id="addexerciseerror" style="display: none;" class="errormessage">
          HIBA!
        </p>

        <div class="input-field">
          <input id="exer_name" type="text" class="validate" onkeypress="hide_error()">
          <label for="exer_name">Gyakorlat neve</label>
        </div>

        <div class="input-field">
          <input id="exer_sname" type="text" class="validate" onkeypress="hide_error()">
          <label for="exer_sname">Rövid név</label>
        </div>

        <div class="input-field">
          <input id="exer_link" type="text" class="validate" onkeypress="hide_error()">
          <label for="exer_link">Link</label>
        </div>

        <div class="input-field">
          <select id="exer_type">
            <option value="" disabled selected>Válasszon típust!</option>
            <option value="rest">Pihenő</option>
            <option value="warmup">Felkészülés</option>
            <option value="workout">Munka</option>
          </select>
          <label>Típus</label>
        </div>

        <div class="input-field">
          <input id="exer_maxrep" type="number" class="validate" onkeypress="hide_error()">
          <label for="exer_maxrep">Maximum számolt ismétlés</label>
        </div>

        <div class="input-field">
          <input id="exer_duration" type="number" class="validate" onkeypress="hide_error()">
          <label for="exer_duration">Mért idő másodpercben</label>
        </div>

        <span><button class="btn btn-large butt" onclick="add_exercise()" id="add_e">Hozzáadás</button></span>
        <span><button class="btn btn-large butt" onclick="mod_exercise()" id="mod_e">módosítás</button></span>

    </div>

</div>