<div id="join_modalback" class="modalback" style="display: none;">

    <div id="joinmodal" class="loginmodal">

        <div id="close_joinmodal" class="closeicon" onclick="closemodal($('#join_modalback'))">
        </div>

        <div class="input-field">
          <input id="channel" type="text" class="validate">
          <label for="channel">Eseménykód</label>
          <img src="static/img/help_small.png" style="height: 20px; width: 20px; " class="tooltipped" data-position="bottom" data-tooltip="Kérje el a kódot az esemény indítójától!">
        </div>

        <div class="input-field">
          <input id="name" type="text" class="validate">
          <label for="name">Eseménykód</label>
            <img src="static/img/help_small.png" style="height: 20px; width: 20px; " class="tooltipped" data-position="bottom" data-tooltip="Adja meg az állomás nevét!">
        </div>

        <span><button class="btn btn-large butt">Csatlakozás</button></span>

    </div>

</div>