<div id="login_modalback" class="modalback" style="display: none;">

    <div id="loginmodal" class="loginmodal">

        <div id="close_loginmodal" class="closeicon" onclick="closemodal($('#login_modalback'))">
        </div>

        <!--<form id="loginform" method="post" action="/">-->

            <p id="loginerror" style="display: none;" class="errormessage">
                HIBA!
            </p>

            <div class="input-field">
                <input id="uname" type="text" class="validate" onkeypress="hide_error()">
                <label for="uname">Felhasználónév</label>
            </div>

            <div class="input-field">
                <input id="pw" type="password" class="validate" onkeypress="hide_error()">
                <label for="pw">Jelszó</label>
            </div>


            <div class="rbholder">

                <p>
                    <label>
                        <input name="mode" type="radio" id="SET" checked />
                        <span>
                        SZERKESZTŐ mód
                        <img src="static/img/help_small.png" style="height: 20px; width: 20px;" class="tooltipped" data-position="bottom" data-tooltip="Szerkesztő mód!">
                        </span>
                    </label>
                </p>

                <p>
                    <label>
                        <input name="mode" type="radio" id="SIN"/>
                        <span>
                        SINGLE mód
                        <img src="static/img/help_small.png" style="height: 20px; width: 20px;" class="tooltipped" data-position="bottom" data-tooltip="Segéd nem tud csatlakozni a számláláshoz!">
                        </span>
                    </label>
                </p>

                <p>
                    <label>
                        <input name="mode" id="EXC" type="radio" />
                        <span>
                        FŐBÍRÓ mód
                        <img src="static/img/help_small.png" style="height: 20px; width: 20px;" class="tooltipped" data-position="bottom" data-tooltip="Csak a segédek számlálnak!">
                        </span>
                    </label>
                </p>

                <p>
                    <label>
                        <input name="mode" type="radio" id="COO" disabled="disabled"/>
                        <span>
                        SEGÉD mód
                        <img src="static/img/help_small.png" style="height: 20px; width: 20px;" class="tooltipped" data-position="bottom" data-tooltip="A funkció le van tiltva!">
                        </span>
                    </label>
                </p>

    </div>

            <!--<span><button class="btn btn-large butt" form="loginform" >Belépés</button></span>-->
            <span><button class="btn btn-large butt" onclick="login()" >Belépés</button></span>

        <!--</form>-->

    </div>

</div>