{% extends 'base.html' %}


{% block header %}
<link rel="stylesheet" href="/static/css/user/settings_mode.css">
<script src="/static/js/user/settings_mode.js"></script>
{% endblock %}


{% block body %}

<div id="container" class="container">

  <div id="navbar" class="navbar">

    <button class="btn btn-large" onclick="window.location.href='/logout'">Kilépés</button>

  </div>

  <div id="content" class="content">

    <h3>USER INDEX</h3>

    <p>SETTINGS MODE</p>

  </div>

</div>

{% endblock %}