{% extends 'base.html' %}


{% block header %}
<link rel="stylesheet" href="/static/css/user/settings_mode.css">
<script src="/static/js/user/settings_mode.js"></script>
{% endblock %}


{% block body %}

<p id="userident" style="display: none;">{{data['user']['id']}}</p>

{% include 'modals/addexercise_modal.html' %}

<div class="content-container">

  <div id="active_window" class="active_window">

    <div class="title teal lighten-2">
      <p id="active_title">ESEMÉNYEK</p>
      <i class="material-icons btn btn-small addbtn blue">add</i>
    </div>

    <div class="window-content">
      <p>EVENTS HERE!</p>
    </div>

  </div>

  <div id="etc1" class="etc1">

    <div class="title teal lighten-2">
      <p id="etc1_title">VERSENYSZÁMOK</p>
      <i class="material-icons btn btn-small addbtn blue">add</i>
    </div>

    <div class="window-content">
      <p>WORKOUTS HERE!</p>
    </div>

  </div>

  <div id="etc2" class="etc2">

    <div class="title teal lighten-2">
      <p id="etc2_title">GYAKORLATOK</p>
      <i class="material-icons btn btn-small addbtn blue" onclick="openmodal($('#addexercise_modalback'))">add</i>
    </div>

    <div class="window-content" id="etc2_content">
      {% include 'user/fragments/frag_exercises.html' %}
    </div>

  </div>

</div>

<div class="fixed-action-btn" style="margin-right: 30px; margin-bottom: 30px; z-index: 100;">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating btn-large grey"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating btn-large grey"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating btn-large grey"><i class="material-icons">attach_file</i></a></li>
    <li><a class="btn-floating btn-large red"><i class="material-icons" onclick="window.location.href='/logout'">logout</i></a></li>
  </ul>
</div>

{% endblock %}