{% extends 'base2.html' %}


{% block header %}

<link rel="stylesheet" href="/static/css/user/singlemode.css">

<script src="/static/js/vue.js" defer></script>

<script src="/static/js/singlemode/singlemode2.js" defer></script>

{% endblock %}


{% block body %}

<div class="fixed-action-btn" style="margin-right: 30px; margin-bottom: 30px; z-index: 100;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons tooltipped" onclick="window.location.href='/logout'" data-position="bottom" data-tooltip="Kilépés">logout</i>
    </a>
</div>

<div id="app">

    <div class="appcontainer hidden">
        <div class="sidebar">
            <ul>
                <li v-for="(player, index) in data" :style="{ color: (playerIndex == index) ? 'red' : 'black' }" :class=""> ## player.cname ## </li>
            </ul>
        </div>
        <div class="weight-select">
            <button-counter></button-counter>
        </div>
        <div class="exercise-info"> EXERCISE INFO </div>
        <div class="name-info"> ## currentPlayer ? currentPlayer.cname : "NÉVTELEN" ##  </div>
        <div class="timer">
            <h4 class="reps-title">HÁTRALÉVŐ IDŐ:</h4>
            <h1> 0:0:0 </h1>
        </div>
        <div class="timer-icon"> TIMER ICON </div>
        <div class="reps-section">
            <h4 class="reps-title">ISMÉTLÉSEK:</h4>
            <h1> 0 </h1>
        </div>
        <div class="score-section">
            <h4 class="reps-title">PONTSZÁM:</h4>
            <h1> 0 </h1>
        </div>
    </div>

</div>


<div id="select-workout" style="width:100%;">
    <h3 class="whitetext select-title">Válasszon eseményt!</h3>

    <div class="select-container">

        {% for event in data %}

            <div class="event-frag">
                <p class="whitetext">{{event['eventname']}}</p>
                <div class="buttonholder">
                    {% if event['named'] == 1 %}
                    <i class="material-icons btn btn-large chunkbutton teal tooltipped" data-position="bottom" data-tooltip="Verseny">groups</i>
                    {% else %}
                    <i class="material-icons btn btn-large chunkbutton teal tooltipped" data-position="bottom" data-tooltip="Gyakorlás">person_outline</i>
                    {% endif %}
                {% if event['playable'] %}
                    <i class="material-icons btn btn-large chunkbutton green" onclick="fetch_event({{event['eid']}})">play_circle_outline</i>
                {% else %}
                    <i class="material-icons btn btn-large chunkbutton amber tooltipped" onclick="" data-position="bottom" data-tooltip="Lezárva!">error_outline</i>
                {% endif %}
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}