{% if data['exercises']|length < 1 %}

    <p class="comment-for-ident"> - Nincsenek gyakorlatok! - </p>

{% else %}

    {% for e in data['exercises'] %}

    <div class="fragment-chunk" data-exid="{{e.id}}">
        <span class="grabber-holder-left"></span>
        <p>{{e.short_name}}
        <span class="chunkbutton-holder-right">
            <i class="material-icons btn chunkbutton amber tooltipped" onclick="edit_exercise({{e.id}})" data-tooltip="Szerkesztés">edit</i>
            <i class="material-icons btn chunkbutton red tooltipped" onclick="del_exercise({{e.id}})" data-tooltip="Törlés">delete_outline</i>
        </span>
        </p>
    </div>

    {% endfor %}

{% endif %}