<div class="man-competitors-maincontainer">

    <div id="addcomp-title" class="comp-title">
        <div class="title" >
            {% if cdata['eventname'] %}
                <p id="comp_title">{{cdata['eventname']}}</p>
            {% else %}
                <p id="comp_title">MISSING DATA['EVENTNAME']</p>
            {% endif %}
        </div>
    </div>

    <div class="comp-new">
        <div class="title">
            <p id="compnames_new">ÚJ</p>
        </div>

        <p id="addcomperror" style="display: none; width: 100%; padding-left: 10px; padding-right: 10px;" class="errormessage">
          HIBA!
        </p>

        <div class="new_competitor" style="color:white;">

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_name" type="text" class="validate" onkeypress="hide_error()">
                <label for="comp_name">Versenyző neve <a style="color: red;">*</a> </label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_assoc" type="text" class="validate" onkeypress="hide_error()">
                <label for="comp_assoc">Szövetség</label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_weight" type="number" class="validate" onkeypress="hide_error()">
                <label for="comp_weight">Testsúly <a style="color: red;">*</a> </label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_yob" type="number" class="validate" onkeypress="hide_error()">
                <label for="comp_yob">Születés éve <a style="color: red;">*</a> </label>
            </div>

            <div class="switch gender">
                <label>
                    <span><img src="/static/img/genders_m.png" class="genderimage">
                    <input type="checkbox" id="comp_gender">
                    <span class="lever"></span>
                    <img src="/static/img/genders_w.png" class="genderimage"></span>
                </label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <select id="comp_workout">
                    <option value="" disabled selected>Válasszon versenyszámot! <a style="color: red;">*</a> </option>
                    {% if cdata['workout_names'] %}
                        {% for workout_name in cdata['workout_names'] %}
                        <option value={{workout_name['id']}}>{{workout_name['name']}}</option>
                        {% endfor %}
                    {% else %}
                        <option value="rest">Pihenő</option>
                        <option value="warmup">Felkészülés</option>
                        <option value="workout">Munka</option>
                    {% endif %}
                </select>
            </div>

            <span><button class="btn btn-small butt" onclick="add_competitor({{cdata['eventid']}})" id="comp_add">regisztráció</button></span>

        </div>

    </div>

    <div class="comp-namesarea">

        <div class="title namestitle">
            <p id="compnames_title">NEVEK</p>
        </div>

        {% if cdata['workouts'] %}
            HELLO
        {% else %}
            <div>Nincsenek versenyzők</div>
        {% endif %}

    </div>

    <div class="comp-buttonarea">
        <span><button class="btn btn-small butt" onclick="hide_comp()" id="man_ev_add">befejezés</button></span>
    </div>

</div>