{% if data['workouts']|length < 1 %}

    <p> - Nincsenek versenyszámok! - </p>

{% else %}

    {% for w in data['workouts'] %}

    <div class="fragment-chunk" data-woid="{{w.id}}">
        <span class="grabber-holder-left"></span>
        <p>{{w.name}}
        <span class="chunkbutton-holder-right">
            <i class="material-icons btn chunkbutton grey darken-3" onclick="edit_workout({{w}})">edit</i>
            <i class="material-icons btn chunkbutton red" onclick="del_workout({{w.id}})">delete_outline</i>
        </span>
        </p>
    </div>

    {% endfor %}

{% endif %}