{% if data['events']|length < 1 %}
    <p class="comment-for-ident"> - Nincsenek események! - </p>

{% else %}

    {% for e in data['events'] %}

    <div class="fragment-chunk" style="z-index: 2;" onclick="$('#eventerror').hide();">
        <span class="event-plusinfo-holder">
            <i class="material-icons tooltipped" style="margin-right: 5px;" data-tooltip="Versenyzők száma">groups</i> {{e['competitors']|length}}
            {% if e['closed']%}
            <i class="material-icons tooltipped" onclick="swap_enable({{e.id}})" style="margin-left: 5px; color: red; cursor: pointer;" data-tooltip="Lezárva">lock</i>
            <i class="material-icons tooltipped" onclick="" style="margin-left: 5px; color: green; cursor: pointer;" data-tooltip="Eredmények nyomtatása">print</i>
            {% else %}
            <i class="material-icons tooltipped" onclick="swap_enable({{e.id}})" style="margin-left: 5px; color: green; cursor: pointer;" data-tooltip="Nyitva">lock_open</i>
            <i class="material-icons tooltipped" onclick="" style="margin-left: 5px; color: red; cursor: pointer;" data-tooltip="Eredmények nyomtatása">print</i>
            {% endif %}
        </span>
        <p>{{e.name}}
        <span class="chunkbutton-holder-right">
            {% if e.named == 1 %}
            <i class="material-icons btn chunkbutton blue tooltipped" onclick="edit_competitors({{e.id}})" data-tooltip="Versenyzők">people</i>
            {% endif %}
            <i class="material-icons btn chunkbutton amber tooltipped" onclick="edit_event({{e.id}});" data-tooltip="Szerkesztés">edit</i>
            <i class="material-icons btn chunkbutton red tooltipped" onclick="del_event({{e.id}})" data-tooltip="Törlés">delete_outline</i>
        </span>
        </p>
    </div>

    {% endfor %}
{% endif %}