<div class="man-competitors-maincontainer">

    <div id="addcomp-title" class="comp-title">
        <div class="title" >
            <p id="active_title">Versenyzők</p>
            <i class="material-icons btn btn-small addbtn blue tooltipped" data-tooltip="Új versenyző" id="add_competitor" onclick="">add</i>
        </div>
    </div>

    <div class="comp-namesarea">
        <div class="title">
            <p id="compnames_title">NEVEK</p>
        </div>
    </div>

    <div class="comp-category">
        <div class="title">
            <p id="compcat_title">KATEGÓRIÁK</p>
        </div>
    </div>

    <div class="comp-buttonarea">
        <span><button class="btn btn-small butt" onclick="" id="man_ev_add">befejezés</button></span>
    </div>

</div>