<div class="man-competitors-maincontainer">

    <div id="addcomp-title" class="comp-title">
        <div class="title" >
            {% if cdata['eventname'] %}
                <p id="comp_title">{{cdata['eventname']}}</p>
                <p id="eventid" style="display: none;">{{cdata['eventid']}}</p>
            {% else %}
                <p id="comp_title">MISSING DATA['EVENTNAME']</p>
            {% endif %}
        </div>
    </div>

    <div class="comp-new">
        <div class="title">
            <p id="compnames_new">REGISZTRÁCIÓ</p>
        </div>

        <p id="addcomperror" style="display: none; width: 100%; padding-left: 10px; padding-right: 10px;" class="errormessage">
          HIBA!
        </p>

        <div class="new_competitor" style="color:white;">

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_name" type="text" class="validate" onkeypress="hide_error()">
                <label for="comp_name">Versenyző neve <a style="color: red;">*</a> </label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_assoc" type="text" class="validate" onkeypress="hide_error()">
                <label for="comp_assoc">Szövetség</label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_weight" type="number" class="validate" onkeypress="hide_error()">
                <label for="comp_weight">Testsúly <a style="color: red;">*</a> </label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <input id="comp_yob" type="number" class="validate" onkeypress="hide_error()">
                <label for="comp_yob">Születés éve <a style="color: red;">*</a> </label>
            </div>

            <div class="switch gender">
                <label>
                    <span><img src="/static/img/genders_m.png" class="genderimage">
                    <input type="checkbox" id="comp_gender">
                    <span class="lever"></span>
                    <img src="/static/img/genders_w.png" class="genderimage"></span>
                </label>
            </div>

            <div class="input-field wo-manipulate-sizer comp-input">
                <select id="comp_workout">
                    <option value="" disabled selected>Válasszon versenyszámot! <a style="color: red;">*</a> </option>
                    {% if cdata['workout_names'] %}
                        {% for workout_name in cdata['workout_names'] %}
                        <option value={{workout_name['id']}}>{{workout_name['name']}}</option>
                        {% endfor %}
                    {% else %}
                        <option value="rest">Pihenő</option>
                        <option value="warmup">Felkészülés</option>
                        <option value="workout">Munka</option>
                    {% endif %}
                </select>
            </div>

            <span><button class="btn btn-small butt" onclick="add_competitor({{cdata['eventid']}})" id="comp_add">regisztráció</button></span>

        </div>

    </div>

    <div class="comp-namesarea">

        <div class="window-fader" id="comp_fader" style="display: none;"></div>

        <div class="title namestitle">
            <p id="compnames_title">VERSENYZŐK</p>
        </div>

        <div class="repr-comps">

            {% for workout_name in cdata['workout_names'] %}
            <div class="fragment-chunk" id="workout-{{workout_name['id']}}" style="z-index: 2;" onclick="">
                <span class="event-plusinfo-holder">
                    <i class="material-icons tooltipped" style="margin-right: 5px;" data-tooltip="Versenyzők száma">groups</i> {{workout_name['comps']}}
                </span>
                <p>{{workout_name['name']}}
                    <span class="chunkbutton-holder-right">
                        <i class="material-icons btn chunkbutton green tooltipped" onclick="" data-tooltip="Mutasd mind">expand_more</i>
                    </span>
                </p>
            </div>

            <div id="{{workout_name['name']}}-compcontainer" class="sortable-container workout-to-count" data-id="{{workout_name['id']}}">

                {% for competitor in workout_name['competitors'] %}
                <div class="fragment-chunk padded-by-left competitor-to-count" style="z-index: 2;" onclick="" id="competitor-{{competitor['id']}}" data-id="{{competitor['id']}}">
                    <span class="event-plusinfo-holder ">
                        <i class="material-icons tooltipped" style="margin-right: 5px;" data-tooltip="Sorszám">sort</i> <a class="comp-sort">sorsz</a>
                    </span>
                    <p>{{competitor['name']}}
                        <span class="chunkbutton-holder-right">
                            {{competitor['category']}}
                        <!-- <i class="material-icons btn chunkbutton amber tooltipped" onclick="edit_competitor({{competitor['id']}})" data-tooltip="Szerkesztés">edit</i> -->
                        <i class="material-icons btn chunkbutton red tooltipped" onclick="del_competitor({ id:{{competitor['id']}}, userid: userid, eventid:{{cdata['eventid']}} })" data-tooltip="Törlés">delete_outline</i>
                        </span>
                    </p>
                </div>
                {% endfor %}

            </div>

            {% endfor %}

        </div>

    </div>

    <div class="comp-buttonarea">
        <span><button class="btn btn-small butt" onclick="hide_comp()" id="man_ev_add">befejezés</button></span>
    </div>

</div>

<script>
    set_comp_sortable();
</script>