<div class="manipulate-workout-container" style="display: none;">

    <div class="man-wo-stringdata">
        STRINGDATA
    </div>

    <div class="man-wo-dnddata" id="dnd_ex_in">
        <p id="dnd-instruction">Húzza ide a gyakorlatokat!</p>
    </div>

    <div class="man-wo-buttonarea">
        <span><button class="btn btn-small butt red" onclick="hide_addworkout()" id="man_wo_cancel" onclick="">mégse</button></span>
        <span><button class="btn btn-small butt" onclick="" id="man_wo_add">Hozzáadás</button></span>
        <span><button class="btn btn-small butt" onclick="" id="man_wo_mod">módosítás</button></span>
    </div>

</div>