<div class="manipulate-event-container" style="display: none;">

    <div class="man-wo-stringdata">

        <p id="addeventerror" style="display: none; width: 100%; padding-left: 10px; padding-right: 10px;" class="errormessage">
          HIBA!
        </p>

        <div class="input-field wo-manipulate-sizer">
          <input id="ev_sname" type="text" class="validate" onkeypress="hide_error()">
          <label for="ev_sname">Esemény neve</label>
        </div>

        <div class="input-field wo-manipulate-sizer-textarea">
          <textarea id="ev_description" class="materialize-textarea"></textarea>
          <label for="ev_description">Leírás</label>
        </div>

        <p class="comment-for-ident"> IDENT: Automatikusan kerül létrehozásra!</p>

        <div class="man-wo-buttonarea">
            <span><button class="btn btn-small butt red" id="man_ev_cancel" onclick="hide_addevent();">mégse</button></span>
            <span><button class="btn btn-small butt" onclick="add_event()" id="man_ev_add">mentés</button></span>
        </div>

    </div>

    <div class="man-wo-dnddata" id="dnd_wo_in">
        <p id="dnd-instruction-wo" class="comment-for-ident">Húzza ide a versenyszámokat!</p>
    </div>

</div>