{% if data['events']|length < 1 %}
    <p class="comment-for-ident"> - Nincsenek események! - </p>

{% else %}

    {% for e in data['events'] %}

    <div class="fragment-chunk" style="z-index: 2;">
        <p>{{e.name}}
        <span class="chunkbutton-holder-right">
            <i class="material-icons btn chunkbutton blue tooltipped" onclick="edit_competitors()" data-tooltip="Versenyzők">people</i>
            <i class="material-icons btn chunkbutton amber tooltipped" onclick="edit_event({{e}})" data-tooltip="Szerkesztés">edit</i>
            <i class="material-icons btn chunkbutton red tooltipped" onclick="del_event({{e.id}})" data-tooltip="Törlés">delete_outline</i>
        </span>
        </p>
    </div>

    {% endfor %}
{% endif %}