{% if data['workouts']|length < 1 %}

    <p class="comment-for-ident"> - Nincsenek versenyszámok! - </p>

{% else %}

    {% for w in data['workouts'] %}

    <div class="fragment-chunk" data-woid="{{w.id}}">
        <span class="grabber-holder-left"></span>
        <p>{{w.name}}
        <span class="chunkbutton-holder-right">
            <i class="material-icons btn chunkbutton amber tooltipped" onclick="edit_workout({{w}})" data-tooltip="Szerkesztés">edit</i>
            <i class="material-icons btn chunkbutton red tooltipped" onclick="del_workout({{w.id}})" data-tooltip="Törlés">delete_outline</i>
        </span>
        </p>
    </div>

    {% endfor %}

{% endif %}