<div class="manipulate-workout-container">

    <div class="man-wo-stringdata">
        STRINGDATA
    </div>

    <div class="man-wo-dnddata" id="dnd_ex_in">
        DRAGnDROP DATA
    </div>

    <div class="man-wo-buttonarea">
        <span><button class="btn btn-small butt red" onclick="" id="man_wo_cancel">mégse</button></span>
        <span><button class="btn btn-small butt" onclick="" id="man_wo_add">Hozzáadás</button></span>
        <span><button class="btn btn-small butt" onclick="" id="man_wo_mod" style="display: none;">módosítás</button></span>
    </div>

</div>